.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px dotted black;
}

.wrapper div {
  border: 1px solid red;
  padding: 10px 30px;
  transition: left 1s ease-out, top 1s ease-out;
}

div.biscuit {
  padding: 0px 0px;
  position: absolute;
  transition: left 1s ease-out, top 1s ease-out;
}
